* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "GillSans";
  src: url(fonts/GillSans.ttf) format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "Coolvetica";
  src: url(fonts/coolvetica.ttf) format("truetype"); /* Safari, Android, iOS */
}
.IdareLab-header-wrapper {
  margin-top: 40px;
  margin-bottom: 230px;
}
.IdareLab-header-wrapper .IdareLab-header-inner {
  width: 980px;
  margin: 0 auto;
  display: flex;
}
.IdareLab-header-wrapper .IdareLab-header-inner .IdareLab-header-logo {
  margin-right: 144px;
}
.IdareLab-header-wrapper .IdareLab-header-inner .IdareLab-header-langueges-items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 137px;
}
.IdareLab-header-wrapper .IdareLab-header-inner .IdareLab-header-langueges-items .IdareLab-header-langueges-item {
  font-family: GillSans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-right: 21px;
}
.IdareLab-header-wrapper .IdareLab-header-inner .IdareLab-header-langueges-items .IdareLab-header-langueges-item:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}
.IdareLab-header-wrapper .IdareLab-header-inner .IdareLab-header-langueges-items .IdareLab-header-langueges-item:last-child {
  margin-right: 0;
}
.IdareLab-header-wrapper .IdareLab-header-inner .IdareLab-header-Info {
  display: flex;
}
.IdareLab-header-wrapper .IdareLab-header-inner .IdareLab-header-Info .IdareLab-header-Info-Items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 38px;
}
.IdareLab-header-wrapper .IdareLab-header-inner .IdareLab-header-Info .IdareLab-header-Info-Items .IdareLab-header-Info-Item {
  margin-right: 38px;
  font-family: GillSans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(0, 0, 0);
}
.IdareLab-header-wrapper .IdareLab-header-inner .IdareLab-header-Info .IdareLab-header-Info-Items .IdareLab-header-Info-Item:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}
.IdareLab-header-wrapper .IdareLab-header-inner .IdareLab-header-Info .IdareLab-header-Info-Items .IdareLab-header-Info-Item:last-child {
  margin-right: 0;
}
.IdareLab-header-wrapper .IdareLab-header-inner .IdareLab-header-Info .IdareLab-header-Info-Button {
  border: none;
  padding: 8px 25px;
  background-color: rgb(25, 9, 74);
  align-self: center;
  height: 35px;
}
.IdareLab-header-wrapper .IdareLab-header-inner .IdareLab-header-Info .IdareLab-header-Info-Button .button-words {
  font-family: GillSans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: white;
}

.IdareLab-services-section-wrapper {
  margin-bottom: 180px;
}
.IdareLab-services-section-wrapper .IdareLab-services-section-inner {
  width: 980px;
  margin: 0 auto;
}
.IdareLab-services-section-wrapper .IdareLab-services-section-inner .IdareLab-services-section-Title {
  text-align: center;
  margin-bottom: 200px;
}
.IdareLab-services-section-wrapper .IdareLab-services-section-inner .IdareLab-services-section-Title .IdareLab-services-section-Title-Logo {
  margin-bottom: 70px;
}
.IdareLab-services-section-wrapper .IdareLab-services-section-inner .IdareLab-services-section-Title .IdareLab-services-section-title {
  font-family: Coolvetica;
  font-weight: 400;
  font-size: 60px;
}
.IdareLab-services-section-wrapper .IdareLab-services-section-inner .IdareLab-services-section {
  display: grid;
  grid-template-columns: repeat(2, 480px);
  gap: 20px;
}
.IdareLab-services-section-wrapper .IdareLab-services-section-inner .IdareLab-services-section .Block {
  font-family: Coolvetica;
  font-weight: 400;
  font-size: 64px;
  text-transform: uppercase;
}
.IdareLab-services-section-wrapper .IdareLab-services-section-inner .IdareLab-services-section .Smm {
  background-color: rgb(25, 9, 74);
  color: white;
  padding: 316px 141px 48px 48px;
}
.IdareLab-services-section-wrapper .IdareLab-services-section-inner .IdareLab-services-section .web {
  background-color: rgb(202, 85, 85);
  color: black;
  padding: 316px 88px 48px 48px;
}
.IdareLab-services-section-wrapper .IdareLab-services-section-inner .IdareLab-services-section .IdareLab-services-section-column {
  display: grid;
  grid-template-columns: repeat(3, 314px);
  gap: 20px;
}
.IdareLab-services-section-wrapper .IdareLab-services-section-inner .IdareLab-services-section .IdareLab-services-section-column .Blocks {
  font-family: Coolvetica;
  font-weight: 400;
  font-size: 48px;
  text-transform: uppercase;
}
.IdareLab-services-section-wrapper .IdareLab-services-section-inner .IdareLab-services-section .IdareLab-services-section-column .Brand {
  background-color: rgb(246, 158, 99);
  padding: 146px 95px 36px 36px;
}
.IdareLab-services-section-wrapper .IdareLab-services-section-inner .IdareLab-services-section .IdareLab-services-section-column .Create {
  background-color: black;
  color: white;
  padding: 146px 51px 36px 36px;
}
.IdareLab-services-section-wrapper .IdareLab-services-section-inner .IdareLab-services-section .IdareLab-services-section-column .individual {
  background-color: rgb(116, 136, 193);
  color: white;
  padding: 146px 55px 36px 36px;
}

.IdareLab-Smm-Packages-wrapper {
  margin-bottom: 200px;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner {
  width: 980px;
  margin: 0 auto;
  display: flex;
  gap: 60px;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Left-Sides {
  width: 340px;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Left-Sides .IdareLab-Smm-Packages-Left-Sides-Title {
  font-family: Coolvetica;
  font-weight: 400;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 138px;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Left-Sides .IdareLab-Smm-Packages-Left-Sides-Desc {
  font-family: GillSans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 300px;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Left-Sides .IdareLab-Smm-Packages-comment {
  font-family: GillSans;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(159, 159, 159);
  margin-bottom: 18px;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Left-Sides .IdareLab-Smm-Packages-comment:last-child {
  margin-bottom: 0px;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Right-Sides {
  display: flex;
  flex-wrap: wrap;
  width: 580px;
  gap: 20px;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Right-Sides .IdareLab-Smm-Packages-Right-Sides-Pack {
  width: 280px;
  border: 1px solid rgb(0, 0, 0);
  transition: background-color 1s ease-in-out;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Right-Sides .IdareLab-Smm-Packages-Right-Sides-Pack .IdareLab-Smm-Packages-Right-Sides-Pack-Opis {
  padding: 20px;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Right-Sides .IdareLab-Smm-Packages-Right-Sides-Pack .IdareLab-Smm-Packages-Right-Sides-Pack-Opis .IdareLab-Smm-Packages-Right-Sides-Pack-Name {
  font-family: Coolvetica;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  margin-bottom: 25px;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Right-Sides .IdareLab-Smm-Packages-Right-Sides-Pack .IdareLab-Smm-Packages-Right-Sides-Pack-Opis .IdareLab-Smm-Packages-Right-Sides-Pack-Posts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Right-Sides .IdareLab-Smm-Packages-Right-Sides-Pack .IdareLab-Smm-Packages-Right-Sides-Pack-Opis .IdareLab-Smm-Packages-Right-Sides-Pack-Posts .Posts {
  font-family: GillSans;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Right-Sides .IdareLab-Smm-Packages-Right-Sides-Pack .IdareLab-Smm-Packages-Right-Sides-Pack-Opis .IdareLab-Smm-Packages-Right-Sides-Pack-Posts .Count {
  font-family: GillSans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: right;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Right-Sides .IdareLab-Smm-Packages-Right-Sides-Pack .IdareLab-Smm-Packages-Right-Sides-Pack-Opis .IdareLab-Smm-Packages-Right-Sides-Pack-Reeals {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Right-Sides .IdareLab-Smm-Packages-Right-Sides-Pack .IdareLab-Smm-Packages-Right-Sides-Pack-Opis .IdareLab-Smm-Packages-Right-Sides-Pack-Reeals .Reels {
  font-family: GillSans;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Right-Sides .IdareLab-Smm-Packages-Right-Sides-Pack .IdareLab-Smm-Packages-Right-Sides-Pack-Opis .IdareLab-Smm-Packages-Right-Sides-Pack-Reeals .Count {
  font-family: GillSans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: right;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Right-Sides .IdareLab-Smm-Packages-Right-Sides-Pack .IdareLab-Smm-Packages-Right-Sides-Pack-Opis .IdareLab-Smm-Packages-Right-Sides-Pack-time {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Right-Sides .IdareLab-Smm-Packages-Right-Sides-Pack .IdareLab-Smm-Packages-Right-Sides-Pack-Opis .IdareLab-Smm-Packages-Right-Sides-Pack-time .SMM {
  font-family: GillSans;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Right-Sides .IdareLab-Smm-Packages-Right-Sides-Pack .IdareLab-Smm-Packages-Right-Sides-Pack-Opis .IdareLab-Smm-Packages-Right-Sides-Pack-time .Count {
  font-family: GillSans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: right;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Right-Sides .IdareLab-Smm-Packages-Right-Sides-Pack .IdareLab-Smm-Packages-Right-Sides-Pack-Opis .IdareLab-Smm-Packages-Right-Sides-Pack-Target {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Right-Sides .IdareLab-Smm-Packages-Right-Sides-Pack .IdareLab-Smm-Packages-Right-Sides-Pack-Opis .IdareLab-Smm-Packages-Right-Sides-Pack-Target .Target {
  font-family: GillSans;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Right-Sides .IdareLab-Smm-Packages-Right-Sides-Pack .IdareLab-Smm-Packages-Right-Sides-Pack-Opis .IdareLab-Smm-Packages-Right-Sides-Pack-Target .Count {
  font-family: GillSans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: right;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Right-Sides .IdareLab-Smm-Packages-Right-Sides-Pack .IdareLab-Smm-Packages-Right-Sides-Pack-Opis .IdareLab-Smm-Packages-Right-Sides-Pack-Motion {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Right-Sides .IdareLab-Smm-Packages-Right-Sides-Pack .IdareLab-Smm-Packages-Right-Sides-Pack-Opis .IdareLab-Smm-Packages-Right-Sides-Pack-Motion .Motion-grey {
  font-family: GillSans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: rgb(219, 219, 219);
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Right-Sides .IdareLab-Smm-Packages-Right-Sides-Pack .IdareLab-Smm-Packages-Right-Sides-Pack-Opis .IdareLab-Smm-Packages-Right-Sides-Pack-Motion .count-grey {
  font-family: GillSans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: rgb(219, 219, 219);
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Right-Sides .IdareLab-Smm-Packages-Right-Sides-Pack .IdareLab-Smm-Packages-Right-Sides-Pack-Opis .IdareLab-Smm-Packages-Right-Sides-Pack-Motion .Motion {
  font-family: GillSans;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Right-Sides .IdareLab-Smm-Packages-Right-Sides-Pack .IdareLab-Smm-Packages-Right-Sides-Pack-Opis .IdareLab-Smm-Packages-Right-Sides-Pack-Motion .Count {
  font-family: GillSans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: right;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Right-Sides .IdareLab-Smm-Packages-Right-Sides-Pack .Button-Choose {
  border: none;
  background-color: rgb(25, 9, 74);
  padding: 8px 107px;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Right-Sides .IdareLab-Smm-Packages-Right-Sides-Pack .Button-Choose .word-button {
  font-family: GillSans;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.IdareLab-Smm-Packages-wrapper .IdareLab-Smm-Packages-inner .IdareLab-Smm-Packages-Right-Sides .IdareLab-Smm-Packages-Right-Sides-Pack:hover {
  background-color: rgba(25, 9, 74, 0.5);
}

.IdareLab-Baner-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  position: relative;
}
.IdareLab-Baner-wrapper .IdareLab-Baner-inner {
  display: flex;
  position: relative;
}
.IdareLab-Baner-wrapper .IdareLab-Baner-inner .container {
  display: flex;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}
.IdareLab-Baner-wrapper .IdareLab-Baner-inner .left-panel {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: -50px;
  height: 100%;
}
.IdareLab-Baner-wrapper .IdareLab-Baner-inner .left-panel .service {
  margin-bottom: 20px;
}
.IdareLab-Baner-wrapper .IdareLab-Baner-inner .left-panel .service .IdareLab-Baner-Name {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}
.IdareLab-Baner-wrapper .IdareLab-Baner-inner .left-panel .service .IdareLab-Baner-Opis {
  font-size: 14px;
  margin: 5px 0 0;
}
.IdareLab-Baner-wrapper .IdareLab-Baner-inner .right-panel {
  background-color: #fff;
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
}
.IdareLab-Baner-wrapper .IdareLab-Baner-inner .right-panel h1 {
  font-size: 24px;
  font-weight: bold;
}
.IdareLab-Baner-wrapper .IdareLab-Baner-inner .right-panel .icons {
  display: flex;
  gap: 5px;
  margin: 15px 0;
}
.IdareLab-Baner-wrapper .IdareLab-Baner-inner .right-panel .icons .cube {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
}
.IdareLab-Baner-wrapper .IdareLab-Baner-inner .right-panel p {
  font-size: 14px;
}

.Idarelab-Individual-Baner-Wrapper {
  margin-bottom: 200px;
}
.Idarelab-Individual-Baner-Wrapper .Idarelab-Individual-Baner-Inner {
  width: 980px;
  margin: 0 auto;
  padding: 36px;
  background-color: rgb(116, 136, 193);
}
.Idarelab-Individual-Baner-Wrapper .Idarelab-Individual-Baner-Inner .Idarelab-Individual-Baner-Title {
  margin-bottom: 40px;
}
.Idarelab-Individual-Baner-Wrapper .Idarelab-Individual-Baner-Inner .Idarelab-Individual-Baner-Title .Idarelab-Individual-Baner-Title-Name {
  font-family: Coolvetica;
  font-weight: 400;
  font-size: 48px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
}
.Idarelab-Individual-Baner-Wrapper .Idarelab-Individual-Baner-Inner .Idarelab-Individual-Baner-Title .Idarelab-Individual-Baner-Title-desc {
  font-family: GillSansC;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: rgb(255, 255, 255);
}
.Idarelab-Individual-Baner-Wrapper .Idarelab-Individual-Baner-Inner .Idarelab-Individual-Baner-Service-Objects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.Idarelab-Individual-Baner-Wrapper .Idarelab-Individual-Baner-Inner .Idarelab-Individual-Baner-Service-Objects .Idarelab-Individual-Baner-Service-Object {
  padding: 20px;
  width: 212px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid rgb(255, 255, 255);
  justify-content: space-between;
}
.Idarelab-Individual-Baner-Wrapper .Idarelab-Individual-Baner-Inner .Idarelab-Individual-Baner-Service-Objects .Idarelab-Individual-Baner-Service-Object .Idarelab-Individual-Baner-Service-Object-Title {
  margin-bottom: 74px;
}
.Idarelab-Individual-Baner-Wrapper .Idarelab-Individual-Baner-Inner .Idarelab-Individual-Baner-Service-Objects .Idarelab-Individual-Baner-Service-Object .Idarelab-Individual-Baner-Service-Object-Title .Idarelab-Individual-Baner-Service-Object-Title-Name {
  font-family: Coolvetica;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.Idarelab-Individual-Baner-Wrapper .Idarelab-Individual-Baner-Inner .Idarelab-Individual-Baner-Service-Objects .Idarelab-Individual-Baner-Service-Object .Idarelab-Individual-Baner-Service-Object-Title .Idarelab-Individual-Baner-Service-Object-Title-Desc {
  width: 172px;
  font-family: GillSansC;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: rgb(255, 255, 255);
}
.Idarelab-Individual-Baner-Wrapper .Idarelab-Individual-Baner-Inner .Idarelab-Individual-Baner-Service-Objects .Idarelab-Individual-Baner-Service-Object .Idarelab-Individual-Baner-Service-Object-Time {
  font-family: GillSansC;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: rgb(255, 255, 255);
}

.IdareLab-Create-Baner-Wrapper {
  margin-bottom: 200px;
}
.IdareLab-Create-Baner-Wrapper .IdareLab-Create-Baner-Inner {
  width: 980px;
  margin: 0 auto;
  display: flex;
  gap: 75px;
}
.IdareLab-Create-Baner-Wrapper .IdareLab-Create-Baner-Inner .IdareLab-Create-Baner-Left-Sides {
  width: 340px;
}
.IdareLab-Create-Baner-Wrapper .IdareLab-Create-Baner-Inner .IdareLab-Create-Baner-Left-Sides .IdareLab-Create-Baner-Left-Sides-Name {
  font-family: Coolvetica;
  font-weight: 400;
  font-size: 48px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  margin-bottom: 81px;
}
.IdareLab-Create-Baner-Wrapper .IdareLab-Create-Baner-Inner .IdareLab-Create-Baner-Left-Sides .IdareLab-Create-Baner-Left-Sides-Comment {
  font-family: GillSans;
  font-weight: 400;
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}
.IdareLab-Create-Baner-Wrapper .IdareLab-Create-Baner-Inner .IdareLab-Create-Baner-Left-Sides .IdareLab-Create-Baner-Left-Sides-Button {
  padding: 8px 25px;
  background-color: rgb(25, 9, 74);
  border: none;
}
.IdareLab-Create-Baner-Wrapper .IdareLab-Create-Baner-Inner .IdareLab-Create-Baner-Left-Sides .IdareLab-Create-Baner-Left-Sides-Button .IdareLab-Create-Baner-Left-Sides-Word {
  font-family: GillSans;
  font-weight: 400;
  font-size: 16px;
  color: rgb(255, 255, 255);
}
.IdareLab-Create-Baner-Wrapper .IdareLab-Create-Baner-Inner .IdareLab-Create-Baner-Right-Sides {
  display: flex;
  gap: 130px;
}
.IdareLab-Create-Baner-Wrapper .IdareLab-Create-Baner-Inner .IdareLab-Create-Baner-Right-Sides .IdareLab-Create-Baner-Right-Sides-Column .IdareLab-Create-Baner-Right-Sides-Column-Items {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
.IdareLab-Create-Baner-Wrapper .IdareLab-Create-Baner-Inner .IdareLab-Create-Baner-Right-Sides .IdareLab-Create-Baner-Right-Sides-Column .IdareLab-Create-Baner-Right-Sides-Column-Items .Bond {
  font-family: Coolvetica;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}
.IdareLab-Create-Baner-Wrapper .IdareLab-Create-Baner-Inner .IdareLab-Create-Baner-Right-Sides .IdareLab-Create-Baner-Right-Sides-Column .IdareLab-Create-Baner-Right-Sides-Column-Items .IdareLab-Create-Baner-Right-Sides-Column-Item {
  font-family: GillSans;
  font-weight: 400;
  font-size: 16px;
  color: rgb(159, 159, 159);
  margin-bottom: 18px;
}
.IdareLab-Create-Baner-Wrapper .IdareLab-Create-Baner-Inner .IdareLab-Create-Baner-Right-Sides .IdareLab-Create-Baner-Right-Sides-Column .IdareLab-Create-Baner-Right-Sides-Column-Items .IdareLab-Create-Baner-Right-Sides-Column-Item:last-child {
  margin-bottom: 0px;
}
.IdareLab-Create-Baner-Wrapper .IdareLab-Create-Baner-Inner .IdareLab-Create-Baner-Right-Sides .IdareLab-Create-Baner-Right-Sides-Column .IdareLab-Create-Baner-Right-Sides-Column-Items .IdareLab-Create-Baner-Right-Sides-Column-Item:hover {
  color: rgb(0, 0, 0);
}
.IdareLab-Create-Baner-Wrapper .IdareLab-Create-Baner-Inner .IdareLab-Create-Baner-Right-Sides .IdareLab-Create-Baner-Right-Sides-Column .IdareLab-Create-Baner-Right-Sides-Column-Items:last-child {
  margin-bottom: 0px;
}

.IdareLab-AboutUs-Baner-wrapper {
  margin-bottom: 80px;
}
.IdareLab-AboutUs-Baner-wrapper .IdareLab-AboutUs-Baner-inner {
  width: 980px;
  margin: 0 auto;
}
.IdareLab-AboutUs-Baner-wrapper .IdareLab-AboutUs-Baner-inner .IdareLab-AboutUs-Baner-Title {
  margin-bottom: 40px;
}
.IdareLab-AboutUs-Baner-wrapper .IdareLab-AboutUs-Baner-inner .IdareLab-AboutUs-Baner-Title .IdareLab-AboutUs-Baner-Title-Name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.IdareLab-AboutUs-Baner-wrapper .IdareLab-AboutUs-Baner-inner .IdareLab-AboutUs-Baner-Title .IdareLab-AboutUs-Baner-Title-Name .IdareLab-AboutUs-Baner-Name {
  font-family: Coolvetica;
  font-weight: 400;
  font-size: 48px;
  text-transform: uppercase;
  color: rgb(25, 9, 74);
  align-items: center;
}
.IdareLab-AboutUs-Baner-wrapper .IdareLab-AboutUs-Baner-inner .IdareLab-AboutUs-Baner-Title .IdareLab-AboutUs-Baner-Title-Name .IdareLab-AboutUs-Baner-Title-Img {
  align-self: center;
}
.IdareLab-AboutUs-Baner-wrapper .IdareLab-AboutUs-Baner-inner .IdareLab-AboutUs-Baner-Title .IdareLab-AboutUs-Baner-Desc {
  font-family: GillSans;
  font-weight: 400;
  font-size: 16px;
  color: rgb(0, 0, 0);
  width: 606px;
}
.IdareLab-AboutUs-Baner-wrapper .IdareLab-AboutUs-Baner-inner .IdareLab-AboutUs-Baner-Objects {
  display: flex;
  flex-wrap: wrap;
  gap: 86px;
}
.IdareLab-AboutUs-Baner-wrapper .IdareLab-AboutUs-Baner-inner .IdareLab-AboutUs-Baner-Objects .IdareLab-AboutUs-Baner-Object {
  width: 260px;
}
.IdareLab-AboutUs-Baner-wrapper .IdareLab-AboutUs-Baner-inner .IdareLab-AboutUs-Baner-Objects .IdareLab-AboutUs-Baner-Object .IdareLab-AboutUs-Baner-Object-Name {
  font-family: Coolvetica;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: rgb(25, 9, 74);
  margin-bottom: 20px;
}
.IdareLab-AboutUs-Baner-wrapper .IdareLab-AboutUs-Baner-inner .IdareLab-AboutUs-Baner-Objects .IdareLab-AboutUs-Baner-Object .IdareLab-AboutUs-Baner-Object-Desc {
  font-family: GillSans;
  font-weight: 400;
  font-size: 16px;
  color: rgb(0, 0, 0);
}
.IdareLab-AboutUs-Baner-wrapper .IdareLab-AboutUs-Baner-inner .IdareLab-AboutUs-Baner-Objects .IdareLab-AboutUs-Baner-Object .IdareLab-AboutUs-Baner-Object-Menu-Items .IdareLab-AboutUs-Baner-Object-Menu-Item .IdareLab-AboutUs-Baner-Object-Menu-Item-bond {
  font-family: GillSans;
  font-weight: 700;
  font-size: 16px;
  color: rgb(0, 0, 0);
}
.IdareLab-AboutUs-Baner-wrapper .IdareLab-AboutUs-Baner-inner .IdareLab-AboutUs-Baner-Objects .IdareLab-AboutUs-Baner-Object .IdareLab-AboutUs-Baner-Object-Menu-Items .IdareLab-AboutUs-Baner-Object-Menu-Item .IdareLab-AboutUs-Baner-Object-Menu-Item-normal {
  font-family: GillSans;
  font-weight: 400;
  font-size: 16px;
}

.IdareLab-Rainbow-Baner-wrapper {
  margin-bottom: 200px;
}
.IdareLab-Rainbow-Baner-wrapper .IdareLab-Rainbow-Baner-Inner {
  width: 980px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}
.IdareLab-Rainbow-Baner-wrapper .IdareLab-Rainbow-Baner-Inner .IdareLab-Rainbow-Baner-FirstBLock {
  background-color: rgb(202, 85, 85);
  position: relative;
}
.IdareLab-Rainbow-Baner-wrapper .IdareLab-Rainbow-Baner-Inner .IdareLab-Rainbow-Baner-FirstBLock .IdareLab-Rainbow-Baner-FirstBLock-Opis {
  margin: 36px 36px 231px 36px;
}
.IdareLab-Rainbow-Baner-wrapper .IdareLab-Rainbow-Baner-Inner .IdareLab-Rainbow-Baner-FirstBLock .IdareLab-Rainbow-Baner-FirstBLock-Opis .IdareLab-Rainbow-Baner-FirstBLock-Opis-Name {
  font-family: Coolvetica;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  margin-bottom: 36px;
}
.IdareLab-Rainbow-Baner-wrapper .IdareLab-Rainbow-Baner-Inner .IdareLab-Rainbow-Baner-FirstBLock .IdareLab-Rainbow-Baner-FirstBLock-Opis .IdareLab-Rainbow-Baner-FirstBLock-Opis-Desc {
  font-family: GillSans;
  font-weight: 400;
  font-size: 16px;
  color: rgb(0, 0, 0);
}
.IdareLab-Rainbow-Baner-wrapper .IdareLab-Rainbow-Baner-Inner .IdareLab-Rainbow-Baner-FirstBLock .IdareLab-Rainbow-Baner-FirstBLock-Opis-Img {
  position: absolute;
  bottom: 0;
  right: 40px;
}
.IdareLab-Rainbow-Baner-wrapper .IdareLab-Rainbow-Baner-Inner .IdareLab-Rainbow-Baner-SecondBLock {
  background-color: rgb(25, 9, 74);
  position: relative;
}
.IdareLab-Rainbow-Baner-wrapper .IdareLab-Rainbow-Baner-Inner .IdareLab-Rainbow-Baner-SecondBLock .IdareLab-Rainbow-Baner-SecondBLock-Opis {
  margin: 36px 36px 231px 36px;
}
.IdareLab-Rainbow-Baner-wrapper .IdareLab-Rainbow-Baner-Inner .IdareLab-Rainbow-Baner-SecondBLock .IdareLab-Rainbow-Baner-SecondBLock-Opis .IdareLab-Rainbow-Baner-SecondBLock-Opis-Name {
  font-family: Coolvetica;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-bottom: 36px;
}
.IdareLab-Rainbow-Baner-wrapper .IdareLab-Rainbow-Baner-Inner .IdareLab-Rainbow-Baner-SecondBLock .IdareLab-Rainbow-Baner-SecondBLock-Opis .IdareLab-Rainbow-Baner-SecondBLock-Opis-Desc {
  font-family: GillSans;
  font-weight: 400;
  font-size: 16px;
  color: rgb(255, 255, 255);
}
.IdareLab-Rainbow-Baner-wrapper .IdareLab-Rainbow-Baner-Inner .IdareLab-Rainbow-Baner-SecondBLock .IdareLab-Rainbow-Baner-SecondBLock-Opis-Img {
  position: absolute;
  bottom: 0;
  right: 40px;
}
.IdareLab-Rainbow-Baner-wrapper .IdareLab-Rainbow-Baner-Inner .IdareLab-Rainbow-Baner-ThirdBLock {
  background-color: rgb(246, 158, 99);
  position: relative;
}
.IdareLab-Rainbow-Baner-wrapper .IdareLab-Rainbow-Baner-Inner .IdareLab-Rainbow-Baner-ThirdBLock .IdareLab-Rainbow-Baner-ThirdBLock-Opis {
  margin: 36px 36px 231px 36px;
}
.IdareLab-Rainbow-Baner-wrapper .IdareLab-Rainbow-Baner-Inner .IdareLab-Rainbow-Baner-ThirdBLock .IdareLab-Rainbow-Baner-ThirdBLock-Opis .IdareLab-Rainbow-Baner-ThirdBLock-Opis-Name {
  font-family: Coolvetica;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  margin-bottom: 36px;
}
.IdareLab-Rainbow-Baner-wrapper .IdareLab-Rainbow-Baner-Inner .IdareLab-Rainbow-Baner-ThirdBLock .IdareLab-Rainbow-Baner-ThirdBLock-Opis .IdareLab-Rainbow-Baner-ThirdBLock-Opis-Desc {
  font-family: GillSans;
  font-weight: 400;
  font-size: 16px;
  color: rgb(0, 0, 0);
}
.IdareLab-Rainbow-Baner-wrapper .IdareLab-Rainbow-Baner-Inner .IdareLab-Rainbow-Baner-ThirdBLock .IdareLab-Rainbow-Baner-ThirdBLock-Opis-Img {
  position: absolute;
  bottom: 0;
  right: 40px;
}

.IdareLab-Input-Baner-Wrapper {
  background-color: rgb(202, 85, 85);
  margin-bottom: 200px;
}
.IdareLab-Input-Baner-Wrapper .Idarelab-Input-Baner-Inner {
  width: 980px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  padding: 40px 0px;
}
.IdareLab-Input-Baner-Wrapper .Idarelab-Input-Baner-Inner .IdareLab-Input-Baner-Title {
  width: 360px;
}
.IdareLab-Input-Baner-Wrapper .Idarelab-Input-Baner-Inner .IdareLab-Input-Baner-Title .IdareLab-Input-Baner-Title-Name {
  font-family: Coolvetica;
  font-weight: 400;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 80px;
}
.IdareLab-Input-Baner-Wrapper .Idarelab-Input-Baner-Inner .IdareLab-Input-Baner-Title .IdareLab-Input-Baner-Title-Desc {
  font-family: GillSans;
  font-weight: 400;
  font-size: 16px;
}
.IdareLab-Input-Baner-Wrapper .Idarelab-Input-Baner-Inner .IdareLab-Input-Baner-Rigth-Slide .IdareLab-Input-Baner-Rigth-Slide-Input {
  margin-bottom: 30px;
}
.IdareLab-Input-Baner-Wrapper .Idarelab-Input-Baner-Inner .IdareLab-Input-Baner-Rigth-Slide .IdareLab-Input-Baner-Rigth-Slide-Input .Input {
  padding: 25px 440px 25px 25px;
}
.IdareLab-Input-Baner-Wrapper .Idarelab-Input-Baner-Inner .IdareLab-Input-Baner-Rigth-Slide .IdareLab-Input-Baner-Rigth-Slide-Check {
  display: flex;
  gap: 5px;
}
.IdareLab-Input-Baner-Wrapper .Idarelab-Input-Baner-Inner .IdareLab-Input-Baner-Rigth-Slide .IdareLab-Input-Baner-Rigth-Slide-Check .IdareLab-Input-Baner-Check-Opis {
  font-family: GillSans;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 80px;
}
.IdareLab-Input-Baner-Wrapper .Idarelab-Input-Baner-Inner .IdareLab-Input-Baner-Rigth-Slide .IdareLab-Input-Baner-Button {
  padding: 23px 301px;
  background-color: rgb(0, 0, 0);
}
.IdareLab-Input-Baner-Wrapper .Idarelab-Input-Baner-Inner .IdareLab-Input-Baner-Rigth-Slide .IdareLab-Input-Baner-Button .IdareLab-Input-Baner-Button-Word {
  font-family: GillSans;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: rgb(255, 255, 255);
}/*# sourceMappingURL=index.css.map */